/* CORAL THEME */

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 10px 15px;     /* top left */
  min-height: 99%;
  width: min(1000px, 95vw);
  color: #C06E52;
  background: #43281C;
  font-family: cursor, monospace;
  overflow-x: hidden;
  font-size: min(20px, calc(1.5vw + 7px));
}
::selection {
  color: #dcd1ee;
  background-color: #F991CC;
}
::-moz-selection {
  color: #de743a;
  background-color: #519975;
}
textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 1.2vw; /*12px;*/
  color: #688E26;
  background-color: #688E26;
  position: relative;
  opacity: 1;
  height: 2vw + 0.5px;
  min-height: 10px;
  max-height: 22px;
  width: 1vw;
  max-width: 7px;
  /* min-height: 10px; */
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* typed text before enter */
#command {
  cursor: text;
  height: 50px;
  color: #688E26;
  font-size: min(20px, calc(1.5vw + 7px));
  /* font-size: large; */
  margin-top: 15px;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #A09BE7;
  font-size: min(20px, calc(1.5vw + 7px));
  content: "guest@pw-term:$ ~";
}
/* #liner.password::before {
  content: "Password:";
} */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr td:first-child {
  padding-left: 0px;
}
td {
  padding: 0 5vw 1vh 0;
}

/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  /* white-space: nowrap; */
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
  /* font-size: calc(2vw + 7px); */
  font-size: min(20px, calc(1.5vw + 7px));
}
.terminal-banner {
  white-space: nowrap;
  font-size: min(20px, calc(1vw));         /* 1.4vw */
  font-weight: bolder;
  /* Adds glow */
  color: #F25F5C;
  /* text-shadow: 0 0 10px #F25F5C;  */
}
.terminal-welcome-msg {
  font-size: min(20px, calc(1.5vw + 7px));
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 3%;
  margin-right: 3%;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #d600f7;
}
/* For main texts */
.color2 {
  color: #70ABAF;
}
/* Commands within text with glow */
.command {
  color: #688E26;
  text-shadow: 0 0 5px #688E26; 
}
.error {
  color: #FC440F;
}
.white {
  color: #FFFCF9;
}
/* terminal output and links */
.inherit, 
a {
  color: #FBF2C0;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #ffd16658;
  color: #D1D2F9;
}
a:focus {
  outline: 0;
}
